<section class="sidebar">
  <button class="sidebar__logo-container">
      <img src="../images/icon.svg" alt="dashboard icon" class="sidebar__logo" loading="lazy">
      <h1 class="sidebar__title">Dashboard</h1>
  </button>
  <div class="sidebar__section-wrapper">
      <ul class="sidebar__main">
          <li class="sidebar__main-item sidebar__main-item_active">
              <img src="../images/sidebar__home.svg" alt="home icon" class="sidebar__main-icon" loading="lazy">
              <p class="sidebar__main-text">home</p>
          </li>
          <li class="sidebar__main-item">
              <img src="../images/sidebar__profile.svg" alt="profile icon" class="sidebar__main-icon" loading="lazy">
              <p class="sidebar__main-text">profile</p>
          </li>
          <li class="sidebar__main-item">
              <img src="../images/sidebar__messages.svg" alt="messages icon" class="sidebar__main-icon" loading="lazy">
              <p class="sidebar__main-text">messages</p>
          </li>
          <li class="sidebar__main-item">
              <img src="../images/sidebar__history.svg" alt="history icon" class="sidebar__main-icon" loading="lazy">
              <p class="sidebar__main-text">history</p>
          </li>
          <li class="sidebar__main-item">
              <img src="../images/sidebar__tasks.svg" alt="tasks icon" class="sidebar__main-icon" loading="lazy">
              <p class="sidebar__main-text">tasks</p>
          </li>
          <li class="sidebar__main-item">
              <img src="../images/sidebar__commumities.svg" alt="communities icon" class="sidebar__main-icon" loading="lazy">
              <p class="sidebar__main-text">communities</p>
          </li>
      </ul>
      <ul class="sidebar__footer">
          <li class="sidebar__footer-item">
              <img src="../images/sidebar__setting.svg" alt="settings icon" class="sidebar__footer-icon" loading="lazy">
              <p class="sidebar__footer-text">settings</p>
          </li>
          <li class="sidebar__footer-item">
              <img src="../images/sidebar__support.svg" alt="support icon" class="sidebar__footer-icon" loading="lazy">
              <p class="sidebar__footer-text">support</p>
          </li>
          <li class="sidebar__footer-item">
              <img src="../images/sidebar__privacy.svg" alt="privacy icon" class="sidebar__footer-icon" loading="lazy">
              <p class="sidebar__footer-text">privacy</p>
          </li>
      </ul>
  </div>
</section>
